<%- include('../partials/singleBookNavbar.ejs'); -%>
<div class="container">
    <div class="row">
        <div class="card">
            <div class="col-md-12 card-header">
                <h1>Book Details</h1>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <figure class="figure">
                            <a href="/book/<%= book.id %>">
                                <img src="<%= book.bookimg %>" width="125" loading="lazy"
                                     alt="You Can Negotiate Anything - by Herb Cohen">
                            </a>
                        </figure>
                    </div>
                    <div class="col-md-9">
                        <h3 class="card-header" id="title<%= book.id %>"> <%= book.booktitle %></h3>
                        <small> by <strong><%= book.author %></strong> Date read:
                            <strong><%= book.dateread.toLocaleDateString() %></strong>
                            enjoyed: <strong><%= book.rating %></strong> </small>
                        <p class="mt-3"><%= book.summary %></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid col-md-12">
            <h3 class="card-header">Notes</h3>
        <section id="allNotes">
            <% for (let note of notes) {%>
<!--            TODO lets create the notes section-->
            <p><%=note.content%></p>
            <%}%>
        </section>
        </div>
    </div>
</div>